<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>CRUD</h1>

    </div>
</nav>

<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <label>First Name</label>
    <input type="text" [(ngModel)]="updatedEmployee.firstName" name="firstName">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="updatedEmployee.lastName" name="lastName">
    <label>Email</label>
    <input type="text" [(ngModel)]="updatedEmployee.email" name="email">
    <label>Mobile</label>
    <input type="text" [(ngModel)]="updatedEmployee.mobile" name="mobile">
    <label>Salary</label>
    <input type="text" [(ngModel)]="updatedEmployee.salary" name="salary">
    <div class="d-flex">        
        <button *ngIf="!isEditing" class="btn btn-success">Add employee</button>

    </div>
</form>
<button class="btn btn-danger" (click)="updateEmployee()" *ngIf="isEditing">Update</button>

<div *ngIf="employeeArr.length === 0">
    No data available
</div>

<table class="table" *ngIf="employeeArr.length !== 0">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeArr; let i = index">
            <td>1</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.salary}}</td>
            <td>
                <button (click)="onEdit(emp, i)" class="btn btn-info">Edit</button>
                <button (click)="deleteData(emp)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<button (click)="getLenght()">check</button>